.section--Contactme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.section__h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
}

.p--Contactme {
  font-family: var(--font--bold);
    line-height: 3vh;
    padding: 3vh 0;
    margin: 0;
    color: var(--tex__color);
    font-size: 1.8rem;
}

.article--Contactme {
  display: flex;
  column-gap: 2rem;
}

.a--Contactme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #8cc84b;
  width: 25vh;
  height: 14vh;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1.5rem
}

.a--Contactme .bx {
  font-size: 3.5rem;
}

.a--Contactme[indentidad="Llamame"] {
  background-color: #2965f1;
}
.a--Contactme[indentidad="Gmail"] {
  background-color: #d64537;
}
.a--Contactme[indentidad="linkedln"] {
  background-color: #0077af;
}
.a--Contactme[indentidad="gitHub"]>i {
  color: black;
}
.a--Contactme[indentidad="gitHub"] {
  background-color: #dddddd;
}

@media (max-width:768px){
  .article--Contactme {
    flex-direction: column;
    row-gap: 1rem;
    width: 23vh;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:1280px) {
  .a--Contactme {
    font-size: 1.3rem
  }
}
@media (max-width:1024px) {
  .p--Contactme{
    font-size: 1.4rem;
  }
  .a--Contactme {
    height: 16vh;
  }
  .article--Contactme {
    column-gap: 1vh;
  }
}
@media (max-width:430px) {
  .p--Contactme {
    font-size: 1.4rem;
    width: 72%;
    text-align: center;
}
.article--Contactme {
  flex-direction: column;
  row-gap: 1rem;
  width: 23vh;
  justify-content: center;
  align-items: center;
}
.a--Contactme {
  font-size: 1.1rem;
}
}