.dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.dialog {
  background-color: var(--color__ligth);
  color: var(--tex__colo);
  margin: auto;
  width: 90%;
  max-width: 900px;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px var(--color__secundar);
}

.dialog__button {
  background-color: var(--color__secundar);
  color: white;
  border: none;
  padding: 2x 4px;
  cursor: pointer;
  float: right;
  margin: 1rem;
  border-radius: 1rem;
  transition: background-color 0.2s, color 0.2s;
  width: 5%;
  height: 2rem;
}
.material-symbols-outlined {
  color: white;
}

.dialog__button:hover {
  background-color: #e74c3c;
  color: var(--tex__colo);
}

.form--conteiner {
  margin: 2.5rem;
  padding: 20px;
}
.form__label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.form__input {
  width: 100%;
  padding: 8px;
  margin-bottom: 1rem;
}

.form__area {
  max-width: 100%;
  min-width: 100%;
  font-family: 'Bai Jamjuree', sans-serif;
}

.form__button {
  margin-top: 0.8rem;
  padding: 10px;
  background-color: var(--color__secundar);
  border-radius: 2rem;
  color: var(--tex__secundary);
  transition: transform 0.3;
  cursor: pointer;
  width: 100%;
}

.form__button:hover {
  transform: scale(1.1);
}

@media (max-width:950px) {
  .form--conteiner {
    margin: 4rem 2rem;
    padding: 0;
  }
}